.card-dark {
  background-color: rgb(39, 39, 39);
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-keybind {
  font-size: 3rem;
  user-select: none;
  cursor: pointer;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 0;
  left: 0;
}

.keybind-input {
  background-color: transparent;
  color: white;
  height: 100%;
  cursor: default;
  width: 100%;
  user-select: none;
  font-size: 5rem;
}

.btn-container {
  bottom: 1.5rem;
  right: 1.5rem;
}

.keybind-input:focus {
  outline: 0;
}

input {
  cursor: pointer;
}

/* Customize functions */
.customize {
  width: 75%;
  height: 75%;
  background-color: #292929;
  border-radius: 5px;
}

.custom-function {
  height: calc(100% - 2rem);
  margin: 1rem 0;
}

.right-border {
  border-right: 3px solid #333333;
}

.category-arrow {
  position: absolute;
  display: none;
  top: 1rem;
  right: 1rem;
  width: 1rem;
}

.category-item:hover .category-arrow {
  display: block;
}

.category-item {
  user-select: none;
  position: relative;
  cursor: pointer;
  border-top: 3px solid #333333;
  padding: 1rem;
}
